<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainpage.css">
    <title>Retro Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
        .welcome-div{
        margin:2%;
        margin-top:0%;
        background-image: url('images/welcome.jpeg');
        padding:4%;
        padding-top:6%;
        height:30%;
        border-radius:10px;
        line-height:80%;
    }
    </style>
</head>
<body>
<div class="page-body">
    <div id="profile-container">
        <img src="images/logo.png" class="brand-image">
        <nav class="navbar navbar-dark mt-5 flex-column">
            <div class="navitems" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/producerhome">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/createJob">Make A Job Posting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allFreelancers">View All Freelancers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/producerprofile">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="top-bar">
        <script src="https://kit.fontawesome.com/7d4718ce94.js" crossorigin="anonymous"></script>
        <div class="container-fluid" style="padding:10px; padding-top:20px;">                    
            <div class="pfp-container">
                <img src="{{profile_image}}" class="profile-image img-fluid">
                <p style="display:inline; padding:8px;" id="username">{{name}}</p>
            </div>
            <a><span id="notification-icon" class="fa-solid fa-envelope bell-icon"> </span></a>
        </div>
         <div class="overlay notification-area" id="overlay">
        </div>
    </div>

    <div class="user-content">
        <div class="current-jobs">
            <div class="welcome-div">
                <h2 style="color:white; font-family:'Roboto',sans-serif">Welcome {{name}}!!</h2>
                <br>
                <p style="color:white; font-family:'Roboto',sans-serif">To your onestop destination for everything bollywood</p>
                <p style="color:white; font-family:'Roboto',sans-serif"> Find the top producrs and jobs for your next project when you hire from RetroHub</p>
            </div>
            <h2 class="header-title">Current Jobs</h2>
            
            {{#each jobList}}
            <div class="card" style="width: 18rem; text-align:center;">
                <img src="{{this.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{this.jobname}}</h5>
                  <p class="card-text">{{this.jobdes}}</p>
                  <a href="/pjobinfo?id={{this.jobid}}" class="btn btn-primary jobPage-button">Job Details</a>
                  <a href="/jobrequests?jobid={{this.jobid}}" class="btn btn-primary jobPage-button">Applications</a>
                </div>
            </div>
            {{/each}}
          </div>
    </div>
</div>



<script src="js/async.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>