<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainpage.css">
    <title>Retro Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page-body">
        <div id="profile-container">
            <img src="images/logo.png" class="brand-image">
            <nav class="navbar navbar-dark mt-5 flex-column">
                <div class="navitems" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/producerhome">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/createJob">Make A Job Posting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/producerprofile">View Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="top-bar">
            <script src="https://kit.fontawesome.com/7d4718ce94.js" crossorigin="anonymous"></script>
            <div class="container-fluid" style="padding:10px; padding-top:20px;">                    
                <div class="pfp-container">
                    <img src="{{profile_image}}" class="profile-image img-fluid">
                    <p style="display:inline; padding:8px;">{{name}}</p>
                </div>
                <a href><span  id="notification-icon" class="fa-solid fa-envelope bell-icon"><span class="badge">3</span></span></a>
            </div>
             <div class="overlay notification-area" id="overlay">
        </div>
        </div>

        <div class="user-content">
            <h3 class="header-title">Job Applicants</h3>
            <table class="table table-light table-striped text-center">
                <thead>
                <tr class="text-center">
                <th scope="col">Job Id</th>
                <th scope="col">Applicant id</th>
                <th scope="col">Applicant name</th>
                <th scope="col">Application date</th>
                <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {{#each request_list}}
                <tr>
                    <th scope="col">{{this.jobid}}</th>
                    <th scope="col">{{this.userid}}</th>
                    <th scope="col"><a href="/profile?id={{this.userid}}">{{this.username}}</a></th>
                    <th scope="col">19/20/2023</th>
                    <th scope="col">
                        <a href="/accept?id={{this.request_id}}"><img src="images/checkmark.png" style="max-width:30px; max-height:30px; margin-right:2%;"></a>
                        <a href="/decline?id={{this.request_id}}"><img src="images/close.png" style="max-width:18px;max-height:18px;"></a>
                    </th>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>   
    <script src="js/async.js"></script>
</body>
</html>