<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Retro Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/userprofile.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>


    <body>
      <div class="page-body">
        <div id="profile-container">
            <img src="images/logo.png" class="brand-image">
            <nav class="navbar navbar-dark mt-5 flex-column">
                <div class="navitems" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/producerhome">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/createJob">Make A Job Posting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/producerprofile">View Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="top-bar">
            <script src="https://kit.fontawesome.com/7d4718ce94.js" crossorigin="anonymous"></script>
            <div class="container-fluid" style="padding:10px; padding-top:20px;">                    
                <div class="pfp-container">
                    <img src="images/default.jpg" class="profile-image img-fluid">
                    <p style="display:inline; padding:8px;">{{name}}</p>
                </div>
                <a href="#"><span class="fa-solid fa-envelope bell-icon"></span></a>
            </div>
        </div>
        
        <div class="user-content">
          <div class="col-lg-8">
              <h3 class="header-title">Personal Information</h3>              
              <br>
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{userinfo.name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{userinfo.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{userinfo.phone}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{userinfo.address}}</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        <br>
        <br>
          <div class="col-lg-8">
            <h3 class="header-title">Work Experience</h3>
            <br>
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Previous Jobs</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{userinfo.previousjobs}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Job Profile</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{userinfo.jobprofile}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Expected Pay</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{userinfo.paygrade}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>